name: trigger cd in orchestrator
on:
  workflow_run:
    workflows: ["create daily docker image on develop"]
    types:
      - completed

jobs:
  trigger-orchestrator:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger workflow in openimis-dist_dkr
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GHCR_TOKEN }}
          repository: stssocialst-stp/openimis-dist_dkr
          event-type: deploy-kenon-backend
